<div class="container">
  <div class="row">
    <div class="col text-center">
      <p>
        Welcome in this showcase of Angular
      </p>
    </div>
  </div>
  <div class="row">
    <ul>
      <li *ngFor="let account of accounts">
        {{account.id}}: {{account.balance}}€
      </li>
    </ul>
  </div>
  <h1>Deposit / Withdraw</h1>
  <div>
    Account: <input [(ngModel)]="bankAccountId" />
    Amount: <input type="number" [(ngModel)]="amountToProcess" />
    <button (click)="deposit()">Deposit</button>
    <button (click)="withdraw()">Withdraw</button>
  </div>
</div>